﻿@section xyz{
    <link rel="Stylesheet" type="text/css" href="../../Content/bootstrap.min.css" />
    <link rel="Stylesheet" type="text/css" href="../../Content/ContactIndex.css" />
    <script type="text/javascript" src="../../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../Scripts/app.js"></script>
}

<div id="body" ng-app="contactList">
    
    <div class="wraper" ng-controller="IndexController as listIt">
    <div class="kontakt" ng-class="{active: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover= false" ng-repeat="contact in listIt.contacts" >
        <h3 class="ImePrezime">{{contact.Name}} {{contact.Surname}}</h3>
        <p class="Address">{{contact.Address}}</p>
        <div class="Emails">
            <div ng-repeat="email in contact.Emails">
            {{email}}
        </div>
        </div>
        <div class="Numbers">
        <div ng-repeat="number in contact.Numbers">
            {{number}}
        </div>
        </div>
        <div class="tags">
            <div class="tag" ng-repeat="tag in contact.Tags">
             #{{tag}}
            </div>
        </div>
    </div> 
    </div>

</div>