﻿/* File Created: December 15, 2014 */

/* File Created: December 14, 2014 */
.wraper {
	margin-top:15px;
}
.kontakt 
{
    font-family: Calibri;
	width:900px;
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	border-radius: 3px 3px 3px 3px;
	margin-bottom:10px;
	clear: both;
}

.active {
	background-color: #7C6C6C

}
.ImePrezime
{
    padding-top: 5px;
    padding-left: 10px;
    }
.Address {
	padding-left:20px;
	padding-bottom: 20px;
}
.Emails {
	padding-left: 150px;
	float:left;
	
}
.Numbers 
{
    
	
	padding-left:400px;
	
}
.tags {
	clear:left;
	margin-left:830px;
	
}
.tag {
	width:auto;
   
}


a:hover {
	background-color: #7C6C6C;
	color:silver;
	text-decoration: none;
	
}
